<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126884412-4"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-126884412-4');
	</script>

	<title>#jkt48wrapped2020 | @f4devcircle</title>
	<meta charset="UTF-8">
	<meta name="description" content="Discover your top handshakes, setlists and other activities with JKT48 in 2020">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="https://storage.googleapis.com/ngidol.club/F4DCLogoTrans2.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100" id="login" style="display: block">
				<form class="login100-form validate-form" id="login-form" method="post">
					<span class="login100-form-title p-b-26">
						#JKT48WRAPPED2020
					</span>

					<p style="margin-bottom: 40px;">
						Sila login ke akun JKT48 anda untuk mendapatkan rangkuman #jkt48wrapped2020.
					</p>

					<div class="wrap-input100 validate-input" data-validate = "Isi dengan format email yang benar">
						<input class="input100" type="text" name="email">
						<span class="focus-input100" data-placeholder="Email"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Password wajib diisi">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="password">
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>

					

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" id="submit">
								Login
							</button>
						</div>
					</div>

					<p style="margin-top: 30px; font-size: 10px">
						Anda diharuskan login terlebih dahulu untuk mendapatkan rangkuman #jkt48wrapped2020. Email dan password anda tidak akan kami simpan, jadi jangan khawatir! Informasi lebih lanjut mengenai keamanan data dan perihal lainnya dapat dilihat di laman <a href="https://ngidol.club/kebijakan-privasi" style="font-size: 10px;">Kebijakan Privasi</a> kami.
					</p>

					<p class="footer">© 2020 f4devc | <a href="https://github.com/f4devcircle">GitHub</a></p>
				</form>
			</div>

			<div class="cssload-thecube" id="loading" style="display: none">
				<div class="cssload-cube cssload-c1"></div>
				<div class="cssload-cube cssload-c2"></div>
				<div class="cssload-cube cssload-c4"></div>
				<div class="cssload-cube cssload-c3"></div>
			</div>

			<div class="wrap-login100" id="result" style="display: none">
				<span class="login100-form-title p-b-26" style="padding-bottom: 0px;">
					#jkt48wrapped2020<br>
				</span>
				<h4 style="margin-bottom: 25px; font-weight: bold; font-size: 13px; margin-top: 5px;" id="result-name"></h4>

				<h4>Handshake terbanyak di 2020</h4>
				<img id="foto-hs" class="foto" style="display: none;">
				<img id="foto-hs-1" class="foto" style="display: none;">
				<img id="foto-hs-2" class="foto" style="display: none;">
				<p class="result-p" id="result-top-hs">Tidak tersedia</p>
				<p class="result-p" id="result-top-hs-1" style="display: none;">Tidak tersedia</p>
				<p class="result-p" id="result-top-hs-2" style="display: none;">Tidak tersedia</p>

				<h4>Setlist paling sering ditonton di 2020</h4>
				<img id="foto-setlist" class="foto" style="display: none;">
				<img id="foto-setlist-1" class="foto" style="display: none;">
				<img id="foto-setlist-2" class="foto" style="display: none;">
				<p class="result-p" id="result-top-setlist">Tidak tersedia</p>
				<p class="result-p" id="result-top-setlist-1" style="display: none;">Tidak tersedia</p>
				<p class="result-p" id="result-top-setlist-2" style="display: none;">Tidak tersedia</p>

				<h4>Total handshake di 2020</h4>
				<p class="result-p" id="result-total-hs"></p>

				<h4>Total kehadiran teater di 2020</h4>
				<p class="result-p" style="margin-bottom: 0px" id="result-total-setlist">42 kali</p>

				<h4>Biaya simping<sup>[1]</sup> 2020</h4>
				<p class="result-p" style="margin-bottom: 0px" id="result-total-setlist">Rp 18.000.000</p>

				<a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Ini%20adalah%20ringkasan%20%23jkt48wrapped2020%20ku%2C%20ayo%20cari%20tau%20punyamu%20juga%20%F0%9F%A5%B3&url=2020.ngidol.club/og-test/abc.html&via=f4devcircle">
					Bagikan di Twitter
				</a>
				<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></a>

				<p class="footer">© 2020 f4devc | <a href="https://github.com/f4devcircle">GitHub</a></p>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
	<script src="js/main.js"></script>

</body>
</html>